@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

/* Suas variáveis personalizadas agora podem ir aqui dentro de @theme */
@theme {
  --color-primary: #0a4fa3;
  --color-primary-dark: #083b79;
  --color-text-dark: #1f2933;
  --color-text-muted: #5f6b7a;
  --color-bg-light: #f5f7fa;
  
  --font-sans: "Stack Sans Text", ui-sans-serif, system-ui;
}